<div class="home-contents">
    <div class="home_body">
        <h1>ようこそ</h1>
        <button><%= link_to "ホテルを探す", search_rooms_path, method: :get, class:"search_btn" %></button>
    </div>

    <div class="home-area">
        <h2>おすすめエリア</h2>
        <div>
            <p>東京</p>
            <%= link_to image_tag("/東京.jpg", :size => '200x300', class: "img-item"), search_rooms_path(area: "東京") %>
        </div>
        <div>
            <p>大阪</p>
            <%= link_to image_tag("/大阪.jpg", :size => '200x300', class: "img-item"), search_rooms_path(area: "大阪") %>
        </div>
        <div>
            <p>京都</p>
            <%= link_to image_tag("/京都.jpg", :size => '200x300', class: "img-item"), search_rooms_path(area: "京都")  %>
        </div>
        <div>
            <p>札幌</p>
            <%= link_to image_tag("/札幌.jpg", :size => '200x300', class: "img-item"), search_rooms_path(area: "札幌")  %>
        </div>
    </div>
</div>
